{% macro todo_inner(todo, date) %}
  <div class="todo" id="todo_{{ todo.id }}">
    <input onChange="toggle_todo({{ todo.id }})" type="checkbox" {% if todo.done %}checked{% endif%}/>
    <div>
      <p style="font-weight: bold">
        {{ todo.name }}
      </p>
      <p style="font-size: small">
        {{ todo.description }}
      </p>
    </div>
    {% if todo.date %}
      <p style="font-size: small">
      {{ date }}
      </p>
    {% endif %}
    <div class="buttons">
      <button onClick="{
        show_window();
        adding_id = {{ todo.id }};
      }">+</button>
      <button onClick="delete_todo({{ todo.id }})">Delete</button>
    </div>
  </div>
{% endmacro todo_inner %}

{% macro todo(todo_h) %}
  <div id="todo_wrapper_{{ todo_h.todo.id }}">
    {{ self::todo_inner(todo=todo_h.todo, date=todo_h.todo_date) }}
    {% for child in todo_h.children %}
      <div class="ident">
        {{ self::todo(todo_h=child) }}
      </div>
    {% else %}
    {% endfor %}
  </div>
{% endmacro todo%}

